.main {
  padding-bottom: 80px;
}
@media (max-width: 991.98px) {
  .main {
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-bottom: 30px;
  }
}
.main__container {
  display: flex;
}

.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 20px;
}

.main__title {
  font-family: CalSans;
  color: $main-dark;
  font-size: 56px;
  line-height: 1.2;
}

.main__title span {
  color: $accent-color;
}
.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  font-weight: 500;
  line-height: 24px;
  max-width: 420px;
}
.main__text:not(:last-child) {
  margin-bottom: 31px;
}

.actions-main {
  display: flex;
  align-items: center;
}

.actions-main__button {
  text-align: center;
  cursor: pointer;
  padding: 18.5px 48px;
  background-color: $accent-color;
  border-radius: 40px;
  color: $main-light;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.actions-main__button:hover {
  background-color: $hover-btn;
}
.actions-main__button:not(:last-child) {
  margin-right: 40px;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image {
  display: inline-block;
  position: relative;
  margin-right: -135px;
}
.main__image img {
  max-width: 672px;
  border-radius: 0 0 155px 365px;
}
.main__image::after {
  content: "";
  background: url("../img/main/little-decor.svg") 0 0 no-repeat;
  right: 36.3%;
  bottom: 0;
  transform: translate(0, 50%);
  width: 80px;
  height: 80px;
  position: absolute;
}

@media (max-width: 1092px) {
  .main__image img {
    width: 100%;
    border-radius: 0 0 100px 300px;
  }
  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }
  .main__decor {
    flex: 0 0 40%;
  }
}

@media (max-width: 767.98px) {
  .main__content {
    padding-right: 0;
    padding-top: 80px;
    flex: 1 1 100%;
  }
  .main__decor {
    display: none;
  }
  .main__title {
    font-size: 44px;
  }
}

@media (max-width: 479.98px) {
  .actions-main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .actions-main__button {
    flex: 1 1 100%;
  }
  .actions-main__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
