$main-dark: #121212;
$main-light: #ffffff;

$secondary-dark: #666666;
$secondary-light: #868686;
$secondary-easy: #12121260;

$accent-color: #ff6428;
$hover-btn: #df4d13;
$background-icon: #262626;
$slider-decor: #c4c4c4;
